<a href="https://colab.research.google.com/github/Fazlul619/AI-project/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [3]:
data=pd.read_csv("gdrive/My Drive/Colab Notebooks/master.csv")

In [4]:
data

          country  year  ... gdp_per_capita ($)       generation
0         Albania  1987  ...                796     Generation X
1         Albania  1987  ...                796           Silent
2         Albania  1987  ...                796     Generation X
3         Albania  1987  ...                796  G.I. Generation
4         Albania  1987  ...                796          Boomers
...           ...   ...  ...                ...              ...
27815  Uzbekistan  2014  ...               2309     Generation X
27816  Uzbekistan  2014  ...               2309           Silent
27817  Uzbekistan  2014  ...               2309     Generation Z
27818  Uzbekistan  2014  ...               2309     Generation Z
27819  Uzbekistan  2014  ...               2309          Boomers

[27820 rows x 9 columns]

In [5]:
data.isnull().sum()

country               0
year                  0
sex                   0
age                   0
suicides_no           0
population            0
suicides/100k pop     0
gdp_per_capita ($)    0
generation            0
dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder

In [9]:
le=LabelEncoder()

In [10]:
data=data.apply(le.fit_transform)

In [11]:
data

       country  year  sex  ...  suicides/100k pop  gdp_per_capita ($)  generation
0            0     2    1  ...                670                  83           2
1            0     2    1  ...                518                  83           5
2            0     2    0  ...                482                  83           2
3            0     2    1  ...                458                  83           1
4            0     2    1  ...                327                  83           0
...        ...   ...  ...  ...                ...                 ...         ...
27815      100    29    0  ...                295                 355           2
27816      100    29    0  ...                257                 355           5
27817      100    29    1  ...                216                 355           3
27818      100    29    0  ...                166                 355           3
27819      100    29    0  ...                145                 355           0

[27820 rows x 9 columns]

In [15]:
X=data.drop("suicides/100k pop",axis=1)

In [16]:
X

       country  year  sex  ...  population  gdp_per_capita ($)  generation
0            0     2    1  ...        9950                  83           2
1            0     2    1  ...        9835                  83           5
2            0     2    0  ...        9358                  83           2
3            0     2    1  ...        2606                  83           1
4            0     2    1  ...        8945                  83           0
...        ...   ...  ...  ...         ...                 ...         ...
27815      100    29    0  ...       21487                 355           2
27816      100    29    0  ...       10720                 355           5
27817      100    29    1  ...       20457                 355           3
27818      100    29    0  ...       20332                 355           3
27819      100    29    0  ...       18506                 355           0

[27820 rows x 8 columns]

In [17]:
Y=data["suicides/100k pop"]

In [18]:
Y

0        670
1        518
2        482
3        458
4        327
        ...
27815    295
27816    257
27817    216
27818    166
27819    145
Name: suicides/100k pop, Length: 27820, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(X,Y,test_size=0.2,random_state=1)

In [21]:
from sklearn.linear_model import LinearRegression

In [22]:
lr=LinearRegression()

In [23]:
lr.fit(Xtrain,Ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
lr.score(Xtest,Ytest)

0.3768172806236454

In [25]:
from sklearn.ensemble import RandomForestRegressor

In [26]:
rfr=RandomForestRegressor()

In [27]:
rfr.fit(Xtrain,Ytrain)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [29]:
rfr.score(Xtest,Ytest)

0.9992886582977465